[Unit]
Description=Snapshot sysroot.mount rewrite
DefaultDependencies=no
After=initrd-root-device.target
Before=sysroot.mount
ConditionPathExists=/run/rootflags-override

[Service]
Type=oneshot
ExecStart=/usr/bin/snapshot-rewrite
RemainAfterExit=yes

[Install]
WantedBy=initrd.target
