[Unit]
Description=Snapshot sysroot.mount rewrite
DefaultDependencies=no
After=dracut-pre-mount.service
Before=sysroot.mount
ConditionPathExists=/run/rootflags-override

[Service]
Type=oneshot
ExecStart=/usr/bin/snapshot-rewrite
RemainAfterExit=yes

[Install]
WantedBy=initrd.target
